# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# backend
backend/node_modules/
backend/package-lock.json
backend/relationship_organizer.db
backend/uploads/
backend/data/
backend/backups/

# Database files (alle Varianten)
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal
*.db-shm

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
.docker/

# PM2 Logs
logs/
*.log

# Environment files
.env
.env.production

# SSL Certificates
certs/
*.pem
*.key
*.crt

# Temporary files & scripts
quick-restore.ps1
restore-*.ps1
temp-*
